<!--*Detta är sidan som läses in på "localhost:8080", alltså startsidan-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/" />
    <title>Project Bord</title>
    <style>
      body main {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
      }
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        padding: 10rem;
        background-color: aquamarine;
        width: max-content;
        border-radius: 2em;
        box-shadow: 0px 6px 10px #333333;
      }
      h1 {
        margin-top: 0;
      }
      h2 {
        font-size: 1em;
        margin: 0;
      }
      input {
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Welcome to Project Bord!</h1>
      <!-- <p>To see Molekylverkstan, click <a href="/molekylverkstan">here</a></p>
      <p>To see Fruit, click <a href="/fruit">here</a></p> -->
      <h2>Enter user code:</h2>
      <form>
        <input type="text" placeholder="User Code" id="inputBox" />
        <input type="submit" value="Send" id="sendBtn" onclick="login()" />
      </form>
    </main>
    <script>
      // Doesn´t work entirely on localhost, but should work when hosted because the path will not include localhost
      function login() {
        let button = document.getElementById("sendBtn");
        let inputValue = document.getElementById("inputBox").value;
        window.open("https://creepy-headscarf-hen.cyclic.app/" + inputValue);
      }
    </script>
  </body>
</html>
