<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borealis</title>
</head>
<body>
    <h1>Välkommen till Project Fruit!</h1>
    <button onclick="window.location.href='/'">Hem</button>
    <button onclick="window.location.href='/fruit/banan'">Banan</button>
    <button onclick="window.location.href='/fruit/apelsin'">Apelsin</button>
</body>
</html>